<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>StudyOn</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/on-off.png" rel="icon">
  <link href="assets/img/on-off.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eNno - v2.1.0
  * Template URL: https://bootstrapmade.com/enno-free-simple-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">StudyOn</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="drop-down lecture"><a href="">강의들</a>
            <ul>
              <li class="drop-down"><a href="#">개발/프로그래밍</a>
                <ul>
                  <li><a href="#">웹 개발</a></li>
                  <li><a href="#">모바일 앱 개발</a></li>
                  <li><a href="#">서버 개발</a></li>
                  <li><a href="#">게임 개발</a></li>
                  <li><a href="#">데이터베이스</a></li>
                  <li><a href="#">기타</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">IT보안/네트워크</a>
                <ul>
                  <li><a href="#">보안</a></li>
                  <li><a href="#">자동화</a></li>
                  <li><a href="#">인프라</a></li>
                  <li><a href="#">사물인터넷</a></li>
                  <li><a href="#">블록체인</a></li>
                  <li><a href="#">기타</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">크리에이티브</a>
                <ul>
                  <li><a href="#">UX/UI</a></li>
                  <li><a href="#">웹앱 디자인</a></li>
                  <li><a href="#">그래픽 디자인</a></li>
                  <li><a href="#">3D 모델링</a></li>
                  <li><a href="#">기타</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">커리어</a>
                <ul>
                  <li><a href="#">취업/이직</a></li>
                  <li><a href="#">개인브랜딩</a></li>
                  <li><a href="#">업무스킬</a></li>
                  <li><a href="#">기타</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="search-form-area animated">
         <form action="#" method="post">
         <input type="search" name="search" id="search" placeholder="배우고 싶은 지식을 입력해보세요.">
         <button type="submit" class="d-none"><img src="img/core-img/search-icon.png" alt="Search"></button>
          </form></li>

        </ul>
        
        
        
        <!-- Search btn -->
<!--
        <div class="search-button">
         <a href="#" id="search-btn"><img src="img/core-img/search-icon.png" alt="Search"></a>
         </div>
-->
      </nav><!-- .nav-menu -->

      <a href="#" class="get-started-btn scrollto">Sign In</a>
      <a href="#" class="get-started-btn scrollto">Sign Up</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
   
    <div class="container">
     <div class="portfolio-details-container">
     <div class="owl-carousel portfolio-details-carousel">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>프로그래밍 입문 끝판왕</h1>
          <h2>누구에게나 열려있는 코딩의 세계</h2>
          <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>신규강의가 도착했어요</h1>
          <h2>나에게 필요한 강의는 없는지 확인해보세요</h2>
          <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
      
     </div>
    </div>
   </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    
        <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">
        

        <div class="section-title">
          <span>따끈따끈한 신규강의를 확인해보세요. </span>
          <h2>따끈따끈한 신규강의를 확인해보세요. </h2>
        </div>

       <div class="portfolio-details-container">
         <div class="owl-carousel portfolio-details-carousel">
         
        <div class="row">
          <div class="col-lg-3 col-md-4 d-flex">
            <div class="member">
              <img src="assets/img/cote-1.png" alt="">
              <h4><a href="inner-page.html">코딩테스트는 스터디온에서</a></h4> 
              <p>장성욱</p>
              <div class="icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <h4 class="h4">₩550,000</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 d-flex">
            <div class="member">
              <img src="assets/img/cote-1.png" alt="">
              <h4>코딩테스트는 스터디온에서</h4> 
              <p>장성욱</p>
              <div class="icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <h4 class="h4">₩550,000</h4>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 d-flex">
            <div class="member">
              <img src="assets/img/cote-1.png" alt="">
              <h4>코딩테스트는 스터디온에서</h4> 
              <p>장성욱</p>
              <div class="icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <h4 class="h4">₩550,000</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 d-flex">
            <div class="member">
              <img src="assets/img/cote-1.png" alt="">
              <h4>코딩테스트는 스터디온에서</h4> 
              <p>장성욱</p>
              <div class="icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <h4 class="h4">₩550,000</h4>
            </div>
          </div>

        </div>
          
          <div class="row">
          <div class="col-lg-3 col-md-4 d-flex">
            <div class="member">
              <img src="assets/img/cote-1.png" alt="">
              <h4>코딩테스트는 스터디온에서</h4> 
              <p>장성욱</p>
              <div class="icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <h4 class="h4">₩550,000</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 d-flex">
            <div class="member">
              <img src="assets/img/cote-1.png" alt="">
              <h4>코딩테스트는 스터디온에서</h4> 
              <p>장성욱</p>
              <div class="icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <h4 class="h4">₩550,000</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 d-flex">
            <div class="member">
              <img src="assets/img/cote-1.png" alt="">
              <h4>코딩테스트는 스터디온에서</h4> 
              <p>장성욱</p>
              <div class="icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <h4 class="h4">₩550,000</h4>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 d-flex">
            <div class="member">
              <img src="assets/img/cote-1.png" alt="">
              <h4>코딩테스트는 스터디온에서</h4> 
              <p>장성욱</p>
              <div class="icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <h4 class="h4">₩550,000</h4>
            </div>
          </div>

        </div>
           </div>
          </div>
      </div>
    </section><!-- End Team Section -->

 
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row counts">
          <div class="col-lg-6">
            <img src="assets/img/about.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content counters">
              <h3><span data-toggle="counter-up">1,080</span> 명이</h3>
              <h3>스터디온과 함께 합니다.</h3>
            <div class="font-italic">
              학교에서 배우기 어렵거나 큰 비용을 지불해야만 배울 수 있는 전문적인 지식들을 제공합니다.<br/>
              오픈 플랫폼의 이점을 통해 다양성과 경제성을 모두 높입니다.
              </div>
            <div class="testimonials">
             <ul>
              <li>
                  <div class="testimonial-item">
                    <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href="#">Spring 입문 강의 Part.1</a><br/>
               쉽고 재밌는 강의였습니다. 질 좋은 강의를 합리적인 가격으로 구매한 것 같아 다른 강의도 구매할 생각입니다. -고민정(수강생)
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
           </li>
           
           <li>
                  <div class="testimonial-item">
                    <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href="#">Python 중급 강의 Part.3</a><br/>
               눈이 호강하네요. 이해하기 쉬웠습니다. -김윤완(수강생)
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
           </li>
           
            <li>
                  <div class="testimonial-item">
                    <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href="#">C 언어 입문 강의 Part.1</a><br/>
                다른 강의보다 이해하기 쉽네요. -김상우(수강생)
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
           </li>
           
            <li>
                  <div class="testimonial-item">
                    <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href="#">Python 입문 강의 Part.5</a><br/>
               보고 따라했더니 포트폴리오가 훌륭해졌습니다. 이대로 냅시다. -권혁성(수강생)
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
           </li>
           
            <li>
                  <div class="testimonial-item">
                    <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <a href="#">무럭무럭 자라는 JAVA 지식 Part.8</a><br/>
               강의를 봤더니 자바에 통달했어요. 여러분 모두 자바의 신이 됩시다. -이준화(수강생)
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
           </li>
           
           
            </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15,024</span>
            <p>강의</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,080</span>
            <p>학생</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">144</span>
            <p>오늘 등록된 강의</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>강사</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>더 알아보기</span>
          <h2>더 알아보기</h2>
          <p>스터디온에서 제공하는 다양한 강의를 확인해보세요.</p>
        </div>
        
        <div class="portfolio-details-container">
         <div class="owl-carousel portfolio-details-carousel">

        <div class="row">

          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">JAVA</a></h4>
              <p>재미있는 JAVA의 세계</p>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Python</a></h4>
              <p>신기한 Python의 세계</p>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Framework</a></h4>
              <p>스프링프레임워크</p>
            </div>
          </div>
          
          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">C/C++</a></h4>
              <p>개발언어의 기본</p>
            </div>
          </div>
          
          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">HTML5</a></h4>
              <p>화면구현의 틀</p>
            </div>
          </div>
          
          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">CSS</a></h4>
              <p>웹 디자인의 시작</p>
            </div>
          </div>

        </div>
        
        <div class="row">

          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Photoshop</a></h4>
              <p>사진 보정의 끝</p>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Illustrator</a></h4>
              <p>디자인 작업의 기초</p>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Cinema4D</a></h4>
              <p>움직이는 사진이 있다?!</p>
            </div>
          </div>
          
          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">3D MAX</a></h4>
              <p>모델링의 시작</p>
            </div>
          </div>
          
          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">CAD</a></h4>
              <p>설계라면 역시</p>
            </div>
          </div>
          
          <div class="col-lg-2 col-md-2 align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Video Editor</a></h4>
              <p>크리에이터의 기본</p>
            </div>
          </div>

        </div>
        
     </div>
   </div>

      </div>
    </section><!-- End Services Section -->
    
    
        <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Study-One</h3>
          <p> Study-One이란 StudyOn에서 공부하는 학생들이 하나로(One) 모여 그룹스터디를 진행하는 프로그램입니다. Study-One을 개설하거나 스터디원이 되어보세요.</p>
          <a class="cta-btn" href="#">Search for Study-One</a>
          <a class="cta-btn" href="#">Create a Study-One</a>
        </div>

      </div>
    </section><!-- End Cta Section -->
    
    
   <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">
       
        <div class="section-title">
          <span>읽어보기</span>
          <h2>읽어보기</h2>
        </div>  

        <div class="row">
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><img src="assets/img/docker.jpg"></div>
              <h4 class="title"><a href="">돜돜, 도커하세요 🐳</a></h4>
              <p class="description">돜돜, 개발하는 여러분. 도커를 아시나요? 🐳</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-2 mt-md-0">
            <div class="icon-box">
              <div class="icon"><img src="assets/img/docker.jpg"></div>
              <h4 class="title"><a href="">돜돜, 도커하세요 🐳</a></h4>
              <p class="description">돜돜, 개발하는 여러분. 도커를 아시나요? 🐳</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="assets/img/docker.jpg"></div>
              <h4 class="title"><a href="">돜돜, 도커하세요 🐳</a></h4>
              <p class="description">돜돜, 개발하는 여러분. 도커를 아시나요? 🐳</p>
            </div>
          </div>
          
          
        </div>

      </div>
    </section><!-- End Featured Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>StudyOn</h3>
            <p>원하는 강의를 찾지 못하셨나요? 듣고싶은 강의를 신청해보세요.</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="원하는 강의 내용을 간단히 입력하세요."><input type="submit" value="신청하기">
            </form>
          </div>
        </div>

        

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>StudyOn</span></strong>. All Rights Reserved
      </div>
      
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">StudyOn</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>