<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyon.persistence.So_MemberMapper">

<insert id="So_MemberInsert">
		insert into so_member(mem_bno,mem_id,mem_pw,mem_name,mem_email,mem_phone) values(so_member_seq_bno.nextval,#{mem_id},#{mem_pw},#{mem_name},#{mem_email},#{mem_phone})
	</insert>
	
	<select id="idChk" resultType="com.studyon.domain.So_MemberVO">
	select mem_id from so_member where mem_id=#{param1}
	</select>
	
	<!-- 회원 인증키(난수) 생성 -->
	<update id="GetKey" parameterType="Map">
		update so_member set user_key = #{param2} where mem_id = #{param1}
	</update>
	
	<!-- 회원 인증키(난수) Y로 변경 -->
	<update id="alter_userKey" parameterType="Map">
		update so_member set user_key = 'Y' where mem_id = #{param1} and user_key = #{param2}
	</update>
	
</mapper>